*{
    margin: 0;
    padding: 0;
}

.selector{
    max-width: 150px;
    margin: auto;
}

.mainOverview{
    width: 100%;
    background-color: rgb(234, 234, 234);
}

.loginForm{
    max-width: 50%;
}

.questOverview{
    max-width: 300px;
    min-width: 180px;
}

.guildName{
    margin:auto
}

.img-hover-darken:hover {
    filter: brightness(70%);
    transition: 0.3s;
}